<!DOCTYPE html><!--telling the browser about version of html-->
<html lang="en"><!--root tag in which we will write all other tags-->
<head><!--we can represent styles and title inside this tag-->

    <title>sample</title><!--browsers title bar-->
</head>
<body>

    hai this sample html page is the fourth studio album by the American alternative rock band The Smashing Pumpkins, released in June 1998 by Virgin Records. After the multi-platinum success of Mellon Collie and the Infinite Sadness and a subsequent yearlong world tour, follow-up Adore was considered "one of the most anticipated albums of 1998" by MTV.[5] Recording the album proved to be a challenge as the band members struggled with lingering interpersonal problems and musical uncertainty in the wake of three increasingly successful rock albums and the departure of drummer Jimmy Chamberlin.[6] Frontman Billy Corgan would later characterize Adore as "a band falling apart".[7] Corgan has also mentioned he was going through a divorce while recording the album.

    The result was a much more subdued and electronica-tinged sound that Greg Kot of Rolling Stone magazine called "a complete break with the past".[8] The album divided the fan base and sold only a fraction of the previous two albums. However, the album was well received by critics, and became the third straight Pumpkins album to be nominated for the Grammy Award for Best Alternative Music Performance[9] and has gained a cult following. A remastered and expanded version of the album was released on CD and vinyl in September 2014 as a part of the band's project to reissue their back catalogue from 1991–2000.
    
</body>
</html>