<!DOCTYPE html><!--telling the browser about version of html-->
<html lang="en"><!--root tag in which we will write all other tags-->
<head><!--we can represent styles and title inside this tag-->

    <title>sample</title><!--browsers title bar-->
</head>
<body>
    
{% if data %}
<h1>this is if statement</h1>
    {{data}}
{% elif data1 %}
<h1>this is el-if statement</h1>
{{data1}}
{% else %}
<h1>this is else statement</h1>
<h1>no data has given</h1>


{% endif %}

<a href='{% url "select" %}'>select page</a>


</body>
</html>